<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <form id="post-form" method="post" action="/add-post">
    <div class="form-info">
      <label>1 Team
        <input type="text" maxlength="25" name="first_team">
      </label>
      <label>2 Team
        <input type="text" maxlength="25" name="second_team">
      </label>
      <label>Result Match
        <input type="text" maxlength="25" name="match">
      </label>
    </div>
    <div class="form-text">
      <label>Add Commentary
        <textarea name="text"></textarea>
      </label>
    </div>
    <div class="form-button">
      <input type="submit" value="Submit">
    </div>
  </form>
</body>
</html>