body {
  padding-top: 80px;
<<<<<<< HEAD
  min-height: 100vh;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://wallpapercave.com/wp/wp11735742.jpg);
  background-position: static;
  background-repeat: no-repeat;
  background-size: cover;
 
=======
  min-height: calc(100vh - 90px);
  font-size: 20px;
  background-image: url(https://images4.alphacoders.com/127/thumb-1920-1277335.png);
  background-position: static;
  background-repeat: no-repeat;
>>>>>>> 15448d278c46239ae3071fe07e73880a183b1cc7
  /* color: #fff; */
}

h1 {
  text-transform: uppercase;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
  margin: 0;
  display: flex;
}

nav a {
  min-height: 60px;
  display: block;
  padding: 10px 20px;
  line-height: 60px;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

article {
  background-image: url(https://sun9-44.userapi.com/impf/NWjGJdzUw0rJPBtyx5vIX2GV1QRXfngHAaTxZg/vTPcnbsBcP4.jpg?size=1920x768&quality=95&crop=155,0,1327,530&sign=38d79dc732b44c3aa144edf639bc3e81&type=cover_group);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
<<<<<<< HEAD
=======
  background-color: rgba(0, 0, 0, 0.4);
>>>>>>> 15448d278c46239ae3071fe07e73880a183b1cc7
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  color: white;
<<<<<<< HEAD
  /* filter: blur(5px);
  z-index: -1; */
=======
>>>>>>> 15448d278c46239ae3071fe07e73880a183b1cc7
}

/* .baclground {
  background-image: url(https://sun9-44.userapi.com/impf/NWjGJdzUw0rJPBtyx5vIX2GV1QRXfngHAaTxZg/vTPcnbsBcP4.jpg?size=1920x768&quality=95&crop=155,0,1327,530&sign=38d79dc732b44c3aa144edf639bc3e81&type=cover_group);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);

} */

.info {
  display: flex;
  justify-content: space-between;
}

h2 {
  color: rgb(255, 255, 255);
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black, -1.41px -1.41px black, -2px 0 black,
   -1.41px 1.41px black, 0 2px black;
}

form {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 20px;
  display: flex;
}

form div label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-info {
  justify-content: space-between;
  gap: 20px;
}

input,
textarea {
  min-height: 30px;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 18px;
  padding: 3px 5px;
  outline: none;
}

textarea {
  resize: none;
  min-height: 150px;
}

.form-button {
  display: flex;
  justify-content: flex-end;
}

.form-button input {
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
}

.form-button input:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.home,
.error {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  background-image: url(https://wallpapercave.com/wp/wp11735742.jpg);
  background-position: static;
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-size: cover;
=======
>>>>>>> 15448d278c46239ae3071fe07e73880a183b1cc7
  padding-top: 0;
}

.error h1 {
  margin-top: 0;
}

.contacts li {
  list-style-type: circle;
  padding-left: 20px;
  list-style-position: inside;
}

.error-code {
  text-transform: uppercase;
  font-size: 160px;
  margin-bottom: 20px;
}


/* тут пока все тестирутеся */

.post-commentary{
  text-align: center;
}

.span-post {
  font-size: 50px;
  padding-top: 40px;
}

<<<<<<< HEAD
.posts-text {
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black, -1.41px -1.41px black, -2px 0 black,
   -1.41px 1.41px black, 0 2px black;
}

=======
>>>>>>> 15448d278c46239ae3071fe07e73880a183b1cc7
.left {
  padding-left: 350px;
}

.right {
  padding-right: 350px;
}

.match{
  color: black;
}

.div_match-post {
<<<<<<< HEAD
  text-align: center;
  border-radius: 10px;
  padding: 25px;
  background-color: white;
  width: 150px;
  height: 50px;
}

.head-posts {
  display: flex;
  justify-content: space-between;
}

label {
  color: white;
=======
  border-radius: 10px;
  padding: 25px;
  background-color: white;
>>>>>>> 15448d278c46239ae3071fe07e73880a183b1cc7
}